input.button {
	border:solid 1px;
	border-top-color:#eeeeee;		border-left-color:#eeeeee;
	border-right-color:#dedede;		border-bottom-color:#dedede;
	background:#f5f5f5 no-repeat 5px center;
	padding-left:20px;
	padding-top:3px;	padding-bottom:3px;
	font-weight:bold;
	border-radius:6px;
	-webkit-border-radius:6px;
}

input.valider {
	background-image:url('../js/boutton_images/accept.png');
	color:#529214;
}
input.valider:hover {
	background-color:#e6efc2;
	border-color:#c6d880;
	border-radius:6px;
	-webkit-border-radius:6px;
}

input.annuler {
	background-image:url('../js/boutton_images/cancel.png');
	color:#d12f19;
}
input.annuler:hover {
	background-color:#fbe3e4;
	border-color:#fbc2c4;
	border-radius:6px;
	-webkit-border-radius:6px;
}

input.printer	{ background-image:url('../js/boutton_images/printer.png'); }
input.pdf		{ background-image:url('../js/boutton_images/pdf.png');		}
input.excel		{ background-image:url('../js/boutton_images/excel.gif');	}
input.search	{ background-image:url('../js/boutton_images/search.png');	}
input.rotate-left	{ background-image:url('../js/boutton_images/rotateleft.png');	}
input.rotate-right	{ background-image:url('../js/boutton_images/rotateright.png');	}

input.divers {
	color:black;
}
input.divers:hover {
	background-color:#dff4ff;
	border-color:#c2e1ef;
	border-radius:6px;
	-webkit-border-radius:6px;
}


input[type=text] {
	border: 1px solid #bfbfbf;
	background:url('../js/boutton_images/shadow.png') white top left no-repeat;
	padding-left:2px;
}

div[contenteditable=true] {
	border: 1px solid #bfbfbf;
	background:url('../js/boutton_images/shadow.png') white top left no-repeat;
	padding-left:2px;
}

select, textarea {
	border: 1px solid #bfbfbf;
}

/* test type jQuery mobile */
label.mobile {
	border:solid 1px #ccc;
	border-radius:5px;
	padding:5px;
	text-shadow:none;
	color:#111;
	font-weight:normal;
	text-align:left;
	background-image:-moz-linear-gradient( top , #fdfdfd, #eee );
}

label.mobile-block {
	margin-bottom:3px;
	display:block;
	width:11em;
}

label.mobile:not(.mobile-checked):hover {
	color:#000;
	border-color:#aaa;
	text-shadow:none;
	background-image:-moz-linear-gradient( top, #fefefe, #f5f5f5 );
	box-shadow: 0 0 2px #aaa;
	cursor:pointer;
}

label.mobile-checked {
	border-color:#155678;
	background-image:-moz-linear-gradient( top, #83b8e2, #5393c5 );
	color:white;
	font-weight:bold;
	cursor:pointer;
	text-shadow:grey 0px -1px;
	box-shadow: 0 0 5px #6a9dca;
}

label.mobile > input[type="checkbox"] {
	position:relative;
	top:2px;
}