input.button {
	border:solid 1px;
	border-top-color:#eeeeee;		border-left-color:#eeeeee;
	border-right-color:#dedede;		border-bottom-color:#dedede;
	background:#f5f5f5 no-repeat 5px center;
	padding-left:20px;
	padding-top:3px;	padding-bottom:3px;
	font-weight:bold;
}

input.valider {
	background-image:url('../js/boutton_images/accept.png');
	color:#529214;
}
input.valider:hover {
	background-color:#e6efc2;
	border-color:#c6d880;
}

input.annuler {
	background-image:url('../js/boutton_images/cancel.png');
	color:#d12f19;
}
input.annuler:hover {
	background-color:#fbe3e4;
	border-color:#fbc2c4;
}

input.pdf {
	background-image:url('../js/boutton_images/pdf.png');
}

input.excel {
	background-image:url('../js/boutton_images/excel.gif');
}

input.divers {
	color:black;
}
input.divers:hover {
	background-color:#dff4ff;
	border-color:#c2e1ef;
}


input[type=text] {
	border: 1px solid #bfbfbf;
	background:url('../js/boutton_images/shadow.png') white top left no-repeat;
	padding-left:2px;
}

select, textarea {
	border: 1px solid #bfbfbf;
}
